<!--
<div class="container">
  <h1>First Angular App</h1>
  <app-admin></app-admin>
  <app-book></app-book>
</div>
-->
<br/>
<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">Easy Online Store</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/product']">Products</a></li>
          <li><a [routerLink]="['/order']">Order</a></li>
          <li><a [routerLink]="['/user']">Users</a></li>
          <li><a [routerLink]="['/music']">Music</a></li>
          <li><a [routerLink]="['/login']">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
