<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>{{userDetails}}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          {{searchby}}
        </div>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="userSearchBy"/>
        </div>
        <div class="col-md-4">
          <h4>{{userSearchBy}}</h4>
        </div>
      </div>
      <div>
        <h4>{{userSearchResult}}{{(users | searchUserBy:userSearchBy).length}}</h4>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Website</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor = "let user of users | searchUserBy:userSearchBy">
            <td><a [routerLink]="['/user',user.id]">{{user.name}}</a></td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.website}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
